/** Surcharge bootstrap */
.col-sm {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.col-sm4 {
    width: 0;
    margin-left: 100px;
    margin-right: 0px;

}
.col-sm4 > select {
    width: 100px;
    height: 100px;
    padding-left: 50px; 
}


/** TODO : un peu de CSS pour customiser les balises SELECT ? */